nextflow.enable.dsl = 2



// Default resources per label
process {
    withLabel: process_low {
        cpus = 8
        memory = 16.GB
    }
    withLabel: process_medium {
        cpus = 30
        memory = 100.GB
    }
    withLabel: process_high {
        cpus = 30
        memory = 100.GB
    }
    publishDir = [mode: 'copy']
}



process {
    withName: FUNANNOTATE {
        errorStrategy = 'ignore'
    }
    withName: BRAKER_RUN {
        errorStrategy = 'ignore'
    }

}


// Singularity settings
singularity {
    enabled = true
    autoMounts = true
    // Enhanced bindings:
    runOptions = '--bind ${launchDir}:${launchDir} --bind ${workDir}:${workDir}'    
    cacheDir = './work/singularity'
}


// Conda with mamba
conda {
    enabled = true
    useMamba = true
    channelPriority = 'flexible'
    cacheDir = './work/conda'
}


